
.form-heading { color:#fff; font-size:23px;}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 80px;
  line-height: 50px;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 100px auto 10px;
  max-width: 50%;
  padding: 50px 50px 5px 50px;
  border: 2px solid black;
}

.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ text-align:center;}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.forgot {
  text-align: left; margin-bottom:30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.btn-success{
  font: 100;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}
.btn-success{
  width: 100px;
  margin: 0 5px 0px 0px;
}
.btn-danger{
  width: 100px;
  margin: 0 5px 0px 0px;

}
.btn-info{
  width: 100px;
  margin: 0 5px 0px 0px;

}
.btn-warning{
  width: 100px;
}
.sign{
  width: 30px;
  margin: 5px;
  font-size: 30px;
}
.inputTable{
margin: 0px 0px 0px 130px;
}
.btn-dark{

  border: 2px solid black;

}
.li {
  text-align: left;
  font-size: 20px;
  padding: 5px;
}
.result{
  width: 400px;
  font-size: 25px;
  align-content: center;
  background: #d1d4d1e0;
}
p{
  font-size: 50px;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 2px solid #000000;
}
.reset{
  border: 2px solid black;
  margin: 0px 0px 0px 5px;
  width: 50px;
  padding-left: 0px;
  padding-right: 0px;

}